<!DOCTYPE HTML>
<html lang="ko-KR">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/common.css" />
  <link rel='stylesheet' href='/stylesheets/style_temp.css' />
</head>
<body>
	
<div id="wrapper">

	<div id="header">
		<div class="header_in">
			<h1><a href=""><img src="" alt="" /></a>LOGO</h1>
			
			<ul class="menu">
				<li><a href="/about">about</a></li>
				<li><a href="/chart">statistic</a></li>
				<li><a></a></li>
				<li><a href="">singup</a></li>
				<li><a href="">login</a></li>
			</ul>
		</div>
	</div>

	<!-- content -->
	<div id="content">
	
	
  <!-- section1 -->
  <form action="/" method="POST">
		<div id="section1">
			<div class="blank_tosize"></div>
			<div class="section1_in">
				<span>I USE TUMBLER <%= count %> times </span>
				<div class="section1_in_in">
						<div class="sec1_img">
							<div ><img src="images/tumbler.png" alt="" height="430px"/></div>
              <div>    
              <p>
                <input type="number" name="used" min="1" max="50" value="1">
              </p>
              <p>
                <input type="submit">
              </p>
            </div>  
						</div>
				</div>	
			</div>	
		</div><!-- section1 -->
  </form>

		
		<section id="p">
			<p class="p1">467 <span>people</span></p>
			<p class="p2">3879 <span>times</span></p>
		</section>
		
		
	<!-- section2 -->
		<div id="section2">
			<div class="box box01">
				<div class="img">
					<img src="images/tree_white.png" alt="">
				</div>
				<p>15.5 tree</p>
				<span>tree</span>
				<span class="tooltiptext">1 time = 0.004tree</span>
			</div>
			<div class="box box02">
				<div class="img">
					<img src="images/water_white.png" alt="">					
				</div>
				<p>387.9L</p>
				<span>water</span>
				<span class="tooltiptext">1 time = 0.1L</span>
			</div>
			<div class="box box03">
				<div class="img">
					<img src="images/co2_white.png" alt="">
				</div>
				<p>387.9kg</p>
				<span>gas</span>
				<span class="tooltiptext">1 time = 0.1KG</span>
			</div>
			<div class="box box04">
				<div class="img">
					<img src="images/trash_white.png" alt="">
				</div>
				<p>129.3kg</p>
				<span>trash</span>
				<span class="tooltiptext">1 time = 0.03kg</span>
			</div>
		</div><!-- section2 -->


		<!-- section4 -->
		<div id="section4">
			<div class="img">
				<img src="images/garbages.jpg" alt="" />
			</div>
			<div class="text">
				<ul>
					<li>■ FACT1</li>
					<li>■ FACT2</li>
					<li>■ FACT3</li>
				</ul>
				<a href="/about" class="moreinfo"><div>MOREINFO</div></a>
			</div>
		</div><!-- section4 -->

		
		<!-- section3 -->
		<section id="section3">
			<span>are yor ready to eco?
				<a href="" >Join us</a>		
			</span>
		</section><!-- section3 -->

		
	</div><!-- content -->

	
	<!-- footer -->
	<div id="footer">
		<div class="footer_in">
			<ul>
				<li>share us</li>
				<li>follow us</li>
				<li>tag us</li>
				<li>contact us</li>
			</ul>
			<p>&copy Copyright 2017. All Rights Reserved</p>
		</div>	
	</div><!-- footer -->


</div><!-- wrapper -->
	
</body>
</html>